.cartItemContainer {
  display: flex;
}

.cartItemContainer img {
  width: 30%;
  object-fit: contain;
}

.cartItemDetails {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.cartDetails {
  font-weight: 300 !important;
}
.cartQuantity {
  font-weight: 300 !important;
}
.cartItemDetails h2 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

@media (max-width: 425px) {
  .logwrapper {
    border: none;
    min-height: 100vh;
    padding: 0;
  }
  .signInWrapper {
    padding-top: 7rem;
  }

  .signBody {
    height: 100%;
  }
}
