.navBarMobile {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navBarMobile h1 {
  margin: 0;
  font-size: 24px;
}

.navContainerMobile {
  padding: 25px 15px;
  margin: 0;
  background-color: #f1f1f1;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 19px 20px -6px rgba(0, 0, 0, 0.13);
  z-index: 10;
}
.navContainerMobile button {
  border: none;
}

.CartIconMobile {
  display: flex;
  align-items: center;
}

.CartNumberMobile {
  margin-left: 10px;
  padding: 0px;
  width: 40px;
  height: 26px;
  border-radius: 25px;
  background-color: #00ffa2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CartNumberMobile p {
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 600;
}

.Hamburger {
  min-width: 36px;
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.Hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: white;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}
.Hamburger hover span:nth-child(2) {
  transform: translateX(10px);
}

.navBarList {
  top: 0px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(40, 44, 52);
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
}
.navBarList a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
